<form action="/search?source=hp" method="post" id="search-form" class="form-inline">

    <div class="form-group">
        <select name="cat" class="form-control" id="cat">
            <option value="movie">Movie Title</option>
            <option value="person">Actor</option>
        </select>
    </div>

    <input type="text" id="movie" placeholder="Search" name="query" />

    <input type="submit" class="btn btn-primary" />
</form>